

body {

    font-family: 'Trebuchet MS', 'Helvetica Neue', Helvetica, sans-serif;
    max-width: 960px;
    font-size: 18px;
    height: 2000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/connectwork.png");
    margin-top: 0 ;

}

/*nav bar style*/

/*anchor tag viseted effect disabled*/
a:visited {
	color:#000;
} 

/*nav tag */
nav{
	margin-right: auto;
	margin-left:auto;
    max-width: 960px;
	width: 70%;
	height:55px;
	clear: both;
	background-color: white;
	z-index: 10;
}

/*name box*/
.name{
	margin-top: 15px;
	float: left;
	width: 200px;
	height: 60px;
	display: block;
	line-height: 60px;
	background-color: #43DDE5;
	color: white;
	font-size: 1em;
}


.none:hover{
	background-color: transparent;

}

header{
	position: fixed;
	z-index: 2;
 	left: 0;
	width: 100%;
	height:75px;
	background-color: white;
	clear: both;
}





/*Index & contact & portfolio content container and header section ***maybe change container to mainContent****/

.container {
	position: relative;
	top:100px;
    color: black;
    max-width: 960px;
    font-size: 18px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 20px 100px;
}

/*main content heading /start/-- About me & contact and portfolio */

.heading{
	margin-bottom: 0; 
	color: #43DDE5;

}

hr{
	margin:20px auto;
}

/*main content heading /ends/-- About me & contact and portfolio */

/*about me page picture - floating left with spacing between image and text*/
#profilePic{
	float:left;
	margin-right:30px;
}



/*columns and sections -- portfolio page */


.column{
	float: left;
	margin: 3%;
    width: 25%;
    width:25%;
	height: 230px;
	background-color: #D6EAF8;	
}

.row:after{
	content: "";
    display: table;
    clear: both;
}


/*
.box{
	margin: 3%;
	display: inline-block;
	width:25%;
	height: 230px;
	background-color: #D6EAF8;	
	
}

section{

	position: relative;
	margin-right: auto;
	margin-left:auto;
	position: relative;
	margin-right: auto;
	margin-left:auto;
}

*/


/*------------------------------- responsive menu styling*/


/*hidden icon styling*/
#menu-icon {

	display: hidden;
	top:20px;
	width: 40px;
	height: 40px;
	background: #43DDE5 url(../images/menu-icon.png) center;

}


/*hidden icon for responsive page*/
a:hover#menu-icon {
	border-radius: 4px 4px 0 0;
	width: 40px;
	height:40px;

}
/*unordered list styling*/

ul {
	position: relative;
	float:right;
	display: flex;
	flex-direction: row;
	line-height: 55px;
    margin-left: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
	list-style: none;
}


/*list items styling*/
li {

	display: inline-block;
	float: right;
	padding: 10px;
	font-weight: 800;


}

/*when hover on the menu items shaded in light blue */

li:hover{
	background-color: #D6EAF8;

}



/*responsive page when screen is 760px*/

@media only screen and (max-width : 762px) {
	.name{
		margin-top: 18px;
	}	



	header {

		position: absolute;

	}

	#menu-icon {

		display:inline-block;
		margin-top: 20px;

	}

	nav ul, nav:active ul { 

		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 150px;
		top: 60px;
		width: 20%;
		border-radius: 4px 0 4px 4px;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

		display: block;

	}
	nav:hover li.none{
		display: none;
	}

}

/*responsive menu end code*/



#writingBox{
	height:80px;
}



/*footer sectio style*/

footer{
	border-top: 3px solid #43DDE5;
	position: fixed;
	z-index: 10;
	/*left:12px;*/
	/*margin-left: auto;
    margin-right: auto;*/
    left:0;
 	bottom:0;
  /*max-width: 960px;*/
	width: 100%;
	height:75px;

	background-color: white;
	clear: both;
	text-align: left;

}

h6 {

	margin-left: 280px;
}

/*-------------------------------*/